/*Estilos para la pagina web NextUp*/

* {
    margin:0;
  }
  
  #wrapper{
      width:100%;
      height:100%;
      position:relative;
  }

/*** navbar ****/
.navbar {
    top:0;
    z-index:99;
}

@font-face {
    font-family:"Pixel";
    src: url('../fonts/SFPixelate-Bold.ttf');
}

@font-face {
    font-family:"Titles";
    src: url('../fonts/SF\ Atarian\ System\ Bold.ttf');
}

.jumbotron {
    background-image: url("../images/Header.jpg");
    height:100vh;
    background-size: cover;
    background-position:center;
    color:white;
}

#title {
    font-family: 'Pixel';
    text-shadow: -5px 0 white, 0 5px white, 5px 0 white, 0 -5px white;
    color:black;
    font-size:15vw;
}

#inicio p {
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.carousel-item img {
    height: auto;
    bottom: 0;
    margin-bottom: -12%;
}

@media screen and (max-width: 600px) {
        .titulo {
            font-size:1em;
        }
    }

.titulo {
    font-family: 'Pixel';
    text-align:center;
}

.card-title {
    font-weight: bold;   
    font-family: "Titulos"; 
}

footer ul {
    list-style-type: none;
    margin:0;
    padding:0;
}


  